/* Global */

.full-tem {
    font-size: 14px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    color: #634f4f;
}
.full-tem h1,
.full-tem h2,
.full-tem h3,
.full-tem h4,
.full-tem h5,
.full-tem h6 {
    font-family: 'Roboto', sans-serif;
    color: ##2f2f2f;
    line-height: 1.3;
}
.full-tem h1 {
	font-size: 36px;
}
.full-tem h2 {
	font-size: 30px;
}
.full-tem h3 {
	font-size: 24px;
}
.full-tem h4 {
	font-size: 18px;
}
.full-tem h5 {
	font-size: 16px;
}
.full-tem h6 {
	font-size: 14px;
}
a:hover {
    text-decoration: none;
}
.full-tem {
	overflow-x: hidden;
}
.full-tem img {
	max-width: 100%;
	height: auto;
}

/* Header Area */

.hdr-top {
	padding: 15px 0;
}

.hdr-nav {
	background-color: #FCBF49;
}
.hdr-nav ul {
	margin: 0;
	padding: 0;
}
.hdr-nav ul li {
	display: inline-block;
	list-style-type: none;
	margin-right: 20px;
}
.hdr-nav ul li a {
	display: block;
	color: #fff;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 16px;
}

/* Banner Area */

.bnr-area {
	padding: 30px 0;
}
.bnr-area img {
	width: 100%;
}

/* Procuct Info */

.pro-info {
	padding-bottom: 30px;
}

/* Gellery */

.slider {
    position: relative;
    padding-top: 560px;
    text-align: center;
}
.slider .large {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow-y: hidden;
}
.slider .large img {
    width: auto;
    height: 540px;
    max-width: 100%;
}
.slider input[name='slide_switch'] {
    display: none;
}
.slider label {
    margin: 0 0 0 6px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;
    position: relative;
}
.slider label img {
    display: block;
    border: 1px solid #ccc;
    height: 99px;
    width: auto;
}
.slider input[name='slide_switch']:checked+label {
    opacity: 1;
}
.slider input[name='slide_switch']~.large {
    opacity: 0;
    transform: scale(1);
}
.slider input[name='slide_switch']:checked+label+.large {
    opacity: 1;
    transform: scale(1);
}

/* Product Description */

h3.pro-desc-title {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e8e8e8;
}
.pro-desc-con table,
.pro-desc-con ol,
.pro-desc-con ul,
.pro-desc-con img,
.pro-desc-con h6,
.pro-desc-con h5,
.pro-desc-con h4,
.pro-desc-con h3,
.pro-desc-con h2,
.pro-desc-con h1 {
	margin-bottom: 15px;
}
.pro-desc-con ol,
.pro-desc-con ul {
	padding-left: 18px;
}
.pro-desc-con table {
	width: 100% !important;
}
.pro-desc-con table tr:nth-child(even) {
	background-color: #eee;
}
.pro-desc-con table tr td {
	padding: 10px !important;
	border: 1px solid #f5f5f5;
}

/* Main Tab area */

.main-tab {
    width: 100%;
    background: #fff;
    margin: 0 0 35px;
}
.main-tab section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #d9d9d9;
}
.main-tab input {
    display: none;
}
.main-tab label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 700;
    text-align: center;
    color: #634f4f;
    border: 1px solid transparent;
    text-transform: uppercase;
}
.main-tab label i {
    margin-right: 5px;
}
.main-tab label:hover {
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.main-tab input:checked + label {
    border: 1px solid #d9d9d9;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.main-tab #tab1:checked ~ #content1,
.main-tab #tab2:checked ~ #content2,
.main-tab #tab3:checked ~ #content3,
.main-tab #tab4:checked ~ #content4,
.main-tab #tab5:checked ~ #content5,
.main-tab #tab6:checked ~ #content6 {
    display: block;
    border: 1px solid #d9d9d9;
    padding: 15px 20px 5px;
}

/* Recommend */

.rec-area {
	padding-bottom: 30px;
}
h2.rec-area-title {
	margin-bottom: 0;
	font-weight: 700;
	text-transform: capitalize;
}

.single-rec {
	margin-top: 30px;
}
.single-rec img {
	height: 150px;
	width: auto;
	max-width: 100%;
	margin-bottom: 15px;
}
.single-rec p {
	margin-bottom: 10px;
}
.single-rec p a {
	color: #634f4f;
}
.single-rec .price {
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
}

/* Brand */

.brand {
	background-color: #FCBF49;
	padding: 30px 0;
}
h2.brand-title {
	margin-bottom: 0;
	font-weight: 700;
	text-transform: capitalize;
	color: #fff;
}
.brands-img {
	margin: 0;
	padding: 0;
	text-align: center;
}
.brands-img li {
	list-style-type: none;
	display: inline-block;
	padding: 5px;
	margin-top: 25px;
}
.brands-img li a {
	display: block;
}

.join {
	margin-top: 25px;
}
.join h4 {
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.join a {
	display: inline-block;
	padding: 10px 35px;
	border: 2px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
}

/* Footer Area */

.ftr-top {
	border-bottom: 1px solid #eee;
	padding: 30px 0;
	margin-bottom: 30px;
}
.ftr-logo {
	margin-bottom: 20px;
}
.hdr-logo a {
	display: inline-block;
}
.ftr-nav ul {
	margin: 0;
	padding: 0;
}
.ftr-nav ul li {
	display: inline-block;
	list-style-type: none;
	margin-right: 19px;
	padding-right: 20px;
	border-right: 1px solid #634f4f;
	line-height: 1;
}
.ftr-nav ul li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}
.ftr-nav ul li a {
	display: block;
	font-weight: 700;
	text-transform: capitalize;
	color: #634f4f;
}
.ftr-nav ul li a:hover {
	color: #FCBF49;
}
.copright-txt {
	padding: 15px 0;
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

	.slider {
		padding-top: 470px;
	}
	.slider .large img {
		height: 450px;
	}
	.slider label img {
		height: 81px;
	}
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

	.pro-desc {
		margin-top: 30px;
	}

}

/* Extra small Device. */
@media (max-width: 767px) {

	.hdr-logo {
		margin-bottom: 15px;
		text-align: center;
	}
	.hdr-info.text-right {
		text-align: center !important;
	}
	.hdr-nav {
		text-align: center;
		padding: 5px 0;
	}
	.hdr-nav ul li {
		margin-left: 5px;
		margin-right: 5px;
	}
	.hdr-nav ul li a {
		padding: 2.5px 0;
	}
	.slider {
		padding-top: 0;
	}
	.slider .large {
		display: none;
	}
	.slider label {
		margin-left: 0;
		display: block;
		padding: 5px 0;
	}
	.slider label img {
		width: 100%;
		height: auto;
	}
	.pro-desc {
		margin-top: 30px;
	}
	.main-tab label {
		display: block;
		background-color: #f5f5f5;
	}
 
}
